@charset UTF-8;
body {
	color:#000;
	font-size:13px;
	font-family: Arial, Verdana, Univers;
    background-color: #222;
    /* background-image: url('http://i.imgur.com/NTr0Y.png'); */
	margin:0;
}
h1 {
    color: #333 /*#4682B4*/;
    font-family: "Trebuchet MS", Arial, Verdana, Univers; 
	font-size:18px;
	font-weight:700;
	margin:3px 0 25px;
	margin-top: 24px;
	font-style:italic;
	clear: both;
}
h2 {
    font-family: "Trebuchet MS", Arial, Verdana, Univers; 
	color:#444;
	font-size:16px;
	font-weight:400;
	margin:0 0 15px;
}
table.topalign td {
	vertical-align:top;
}
.container {
	width:908px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
}

.bannerNav {
    font-family: "Trebuchet MS", Arial, Verdana, Univers; 
    	color:#74AF43 /*#4682B4*/;
	font-size:14px;
	font-weight:700;
	display: block;
	text-align:center;
	text-transform:uppercase;
}
.bannerNav a {
    text-decoration:none;
}
.bannersubnav {
	padding-top:20px;
	padding-right:20px;
	float:right;
	color:gray;
	font-size:10px;
	font-weight:700;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.bannersubnav a {
	color:#3e75a6;
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
}
.bannersubnav a:visited {
	color:#3e75a6;
}
.bannersubnav a:hover {
	color:#000;
	text-decoration:none;
}
.toplogo {
    padding: 30px;
	display:block;
	margin: 0 auto 20px auto;
	text-align:center;
}
.navigationArea {
	border-bottom:solid;
	border-color:#75570b;
	border-width:1px;
}
.contentArea {
	padding: 10px 50px 20px 50px;
}
.contentArea p, .contentArea li {
    line-height: 1.8em;
}
.contentleft {
	width:400px;
	float:left;
}
.contentright {
	width:400px;
	float:right;
}
.imageright {
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	float:right;
}
.imageleft {
	margin-right:30px;
	margin-bottom:10px;
	float:left;
}
.footerArea {
    background-color: #000;
	margin: 0 0 0 0;
	padding: 30px 20px 20px 20px;
	font-size:12px;
    height: 90px;
    color: #fff;
	/*border-top:dotted;
	border-color:#464646;
	border-width:2px;*/
}
.copyright {
	clear:both;
	text-align:center;
	color:#74AF43 /*#4682B4*/;
	padding:30px 0;
}
a, a:visited, .bannerNav a:visited {
	color:#74AF43 /*#4682B4*/;
}
a > img, a img {
    /* IE, Y U NO BEHAVE? */
	border: 0;
}
a:hover, .bannerNav a:hover {
	color:#000;
}
.imgfloat {
	padding:4px;
	float: left;
}
.rightfloat {
	float:right;
	margin: 8px 15px 15px 15px;
}
.col2 {
	float:left;
	width:50%;
}
.col3 {
	float:left;
	width:33%;
}
.avatar {
	clear: left;
	width:80px;
	border: 1px solid silver;
	padding: 2px;
	margin:2px;
	background-color:#fff;
}
#volunteers h1 {
	padding-top: 20px;
}
#volunteers p {
	clear: left;
}
.barbase {
    border: 2px solid black;
    background-color: #fff;
    padding: 2px;
    width: 800px;
    margin: auto;
}
.barclr1 {
    background-color: #9f9;
    display: inline-block;
    width: 320px;
    padding:10px 3px;
}
.barclr2 {
    background-color: #6f6;
    display: inline-block;
    width: 260px;
    height: 100%;
    padding:10px 3px;
}
.barclr3 {
    border:2px dashed silver;
    display: inline-block;
    width: 190px;
    height: 100%;
    padding:8px 3px;
}
.sponsor-list {
    margin: 0;
    padding: 0;
}
.sponsor {
    display: inline-block;
    list-style: none;
    background: transparent url('/img/sponsors-bg.png') repeat-y right top;;
    margin: 20px 0;
    padding:20px;
    border-radius: 10px;
    vertical-align: top;
    width: 760px;
}
.sponsor img {
    float: left;
    /*border: 2px #f0f0f0 solid;*/
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
.sponsor h2 {
    font-weight: 800;
    font-size: 20px;
    margin-top: 62px;
    text-align: center;
}


/* override */
.AccordionPanelOpen .AccordionPanelTab { 
    color: #74AF43 !important;
}
